/* generali */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img { max-width: 100%; }
body { background-color: #E0E0DD; }

header {
    height: 20vh;
    background-color: #00A884;
}

#boolzap {
    display: flex;
    position: absolute;
    top: 50px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    background-color: #fff;
}

/* commons */
.toolbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: 5px 10px;
}

.round-img {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    object-fit: cover;
    overflow: hidden;
}

.round-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.icons-wrapper i {
    padding: 0 5px;
    color: #54656F;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* sidebar */
#sidebar-wrapper {
    min-width: 30%;
    /* min-width: 250px; */
}

    /* banner profilo */
#personal-info {
    border-right: 1px solid #d6d6d6;
}

    /* banner notifiche desktop */
#notificationBanner {
    background-color: #53BDEB;
    height: 90px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

#notificationIcon {
border-radius: 999px;
padding: 10px;
color: #53BDEB;
background-color: #fff;
}

#notification-cta {
padding: 0 5px;
}

#notification-cta p:last-child {
font-size: 12px;
line-height: 15px;
vertical-align: middle;
}

    /* ricerca chat */
#search-chat { 
    position: relative;
    background-color: #fff;
}

#search-chat input {
    width: 100%;
    border-radius: 5px;
    line-height: 25px;
    padding-left: 30px;
    border: none;
    background-color: #F0F2F5;
}

#search-chat i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

    /* lista contatti */
.contact {
    padding: 3px 5px;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}

.contact > div {
    padding-left: 5px;
    font-size: 10px;
}

.contact div p:first-child {
    font-weight: 600;
    font-size: 14px;
}

.contact:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.contact > span {
    position: absolute;
    top: 7px;
    right: 7px;
    font-weight: 600;
    font-size: 11px;
}

.active-chat, .active-chat:hover {
    background-color: #E9EBEB;
}

/* sezione chat ingrandita */
#largerChat {
    flex-grow: 1;
    background-image: url("https://i.redd.it/qwd83nc4xxf41.jpg");
    /* background-image: url('img/whatBgImg.jpg'); */
    display: flex;
    flex-direction: column;
}

    /* messaggi */
#messages {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* justify-content: space-between; */
    overflow-y: auto;
}

.msg {
    max-width: 60%;
    padding: 7px;
    display: flex; 
    flex-direction: column; 
    border-radius: 10px; 
    position: relative;
    margin: 2px;
    filter: drop-shadow(3px 2px 2px #aaa);
}

.sent {
    background-color: #D9FDD3;
    /* align-items: flex-end; */
    align-self: self-end;
}

.received {
    background-color: #fff;
    align-self: self-start;
}

.msg::before {
    content: "";
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
}

.msg.sent::before {
    border-width: 12px 12px 0 0;
    border-color: #d9fdd3 transparent transparent transparent;
    left: 100%;
}

.msg.received::before {
    border-width: 0 12px 12px 0;
    border-color: transparent #fff transparent transparent;
    right: 100%;
}

.msg.sent:first-child::before,
.msg.received + .msg.sent::before,
.msg.received:first-child::before,
.msg.sent + .msg.received::before {
    display: block;
}

.msg.sent:first-child,
.msg.received + .msg.sent {
    border-top-right-radius: 0;
}


.msg.received:first-child,
.msg.sent + .msg.received {
    border-top-left-radius: 0;
}

.msg.sent + .msg.received, .msg.received + .msg.sent {
    margin-top: 20px;
}

.time {
    align-self: self-end;
    font-size: 10px;
}

    /* toolbar invia messaggi */
#chat_toolbar {
    gap: 10px;
    font-size: 20px;
}

#chat_toolbar input {
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 7px;
    padding: 0 5px;
    line-height: 30px;
}

#chat_toolbar .toolbar {
    justify-content: space-around;
}