<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Boolzap</title>
</head>
<body>

    <header></header>

    <main id="boolzap">
        <!-- sidebar -->
        <section id="sidebar-wrapper">
            <!-- informazioni personali -->
            <div id="personal-info" class="toolbar">
                <div class="user-info">
                    <figure class="round-img">
                        <img src="https://picsum.photos/200/200">
                    </figure>
                    <span>サラ八</span>
                </div>

                <div class="icons-wrapper">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- banner blu delle notifiche desktop -->
            <div id="notificationBanner">
                <div id="notificationIcon">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>

                <div id="notification-cta">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <p>
                        Attiva notifiche desktop
                        <i class="fa-solid fa-chevron-right"></i>
                    </p>
                </div>
            </div>

            <!-- barra di ricerca chat/contatti -->
            <div id="search-chat" class="toolbar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat"
                v-model="searchInput">
                <!-- v-on:input="filteredList(search)" -->
            </div>

            <!-- lista dei contatti -->
            <div id="chatList">
                <div v-for="(item, index) in filteredList(contacts)"
                :class="(index == currentIndex) ? 'active-chat' : ''"
                class="contact"
                @click="changeIndex(index)">
                    <figure class="round-img">
                        <img :src="item.avatar">
                    </figure>

                    <div>
                        <p>{{ item.name }}</p>
                        <p>{{ item.messages[item.messages.length - 1].text }}</p>
                    </div>
                    <span>{{ item.messages[item.messages.length - 1].date }}</span>
                </div>
            </div>
        </section>

        <!-- sezione messaggi di una chat -->
        <section id="largerChat"
        v-for="(item, index) in filteredList(contacts)" 
        v-show="(index == currentIndex) ? true : false">
            <!-- banner in alto info contatto -->
            <div id="contact-info" class="toolbar">
                <div class="user-info">
                    <figure class="round-img">
                        <img :src="item.avatar">
                    </figure>
                    <span>{{ item.name }}</span>
                </div>
                <div class="icons-wrapper">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- messaggi -->
            <div id="messages">
                <div class="msg"
                v-for="(msg, index) in item.messages"
                :class="(msg.status == 'sent') ? 'sent' : 'received'">
                    {{ msg.text }}
                    <p class="time">{{ msg.date }}</p>
                </div>
            </div>

            <!-- toolbar in basso per inviare msg -->
            <div id="chat_toolbar" class="toolbar">
                <div class="icons-wrapper">
                    <i class="fa-solid fa-face-laugh-beam"></i>
                    <i class="fa-solid fa-paperclip"></i>
                </div>
                
                <input type="text" placeholder="Scrivi un messaggio" 
                v-model="newMsg" 
                v-on:keyup.enter="createNewMsg(newMsg)">

                <div class="icons-wrapper">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </section>

    </main>
    
    <script src="js/app.js"></script>
</body>
</html>